<div class="row">
  <div class="small-5 columns ui stop-share-input">
    {{date-selector
      name='selectedDate'
      value=selectedDate
      selection=selectedDate
      class="stopSharingDate"
      placeholder="dd/mm/yy"
      pattern="[a-zA-Z]{3}\s?[a-zA-Z]{3}\s?[0-9]{1,2}"}}
  </div>
  <div class="small-7 columns ui">
    {{input type="time" class="selectedTime" name="selectedTime" value=selectedTime}}
  </div>
</div>
