.scaled_icon {
  transform: scale(2);
  margin-top: 0.8rem;
  color: #000000;
}

.back-arow {
  padding-left: 10px;
}

.canned-search-container {
  display: flex;
  width: clamp(25rem, 62%, 46rem);
  justify-content: space-around;
  align-items: center;
  margin-left: 20%;

  @media #{$small-only} {
    width: 100%;
    margin-left: 0%;
  }

  .tabs {
    width: 50%;
    padding-left: 15%;
    margin-left: -10%;
    float: left;
    padding-top: 2%;
    padding-bottom: 2%;
    cursor: pointer;
  }

  .selected {
    border-bottom: 2px solid #ddd;
  }
  .search-field {
    flex: 0.8;
  }

  .clear-search {
    width: 1.5rem;
    padding: 0.5rem;
    margin-top: -0.5rem;
    padding-right: 3rem;

    @media #{$small-only} {
      padding-right: 1.5rem;
    }

    @media #{$medium-only} {
      padding-right: 2rem;
    }

  }
}

.canned-message-container  {
  display: flex;
  color: white;
  flex-direction: column;
  margin-top: 1.5rem;

  i.edit-pointer {
    font-size: 200%;
  }

  .message-textarea {
    background: #1A3A64;
    border: 1px solid #002352;
    color: #8496AE;
    width: 98%;
    font-size: 100%;
  }

  .edit-message {
    display: flex;
    color: #bab3b3;

    .active {
      color: #fff;
      cursor: pointer;
    }

    .input-error {
      background: #f46769;
      color: #fff;
      padding: .2rem;
      width: 98%;
      margin-top: -5%;
      margin-bottom: 5%;
    }
  }

  .create-btn{
    width: 50%;
    margin-left: 30%;
  }

  span.label {
    flex: 1;
    text-align: center;
  }

  span.content {
    flex: 5;
  }

  .light-button {
    border: 1px solid #fff;
    max-width: 16rem;
    height: 2rem;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background: #002352;
    float: right;
    font-size: 100%;
    padding-bottom: 2.5%;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 25%;


    @media #{$small-only} {
      line-height: 2rem;
      font-size: 120%;
      padding-bottom: 7.5%;
      padding-top: 0.5%;
      padding-left: 7%;
      padding-right: 7%;
      position: relative;
      margin-right: 5%;
    }
  }


  li {
    margin-bottom: clamp(1rem, 5vw, 4rem);
    list-style: none;
  }

  ul {
    margin-left: clamp(4rem, 20%, 14rem);
    margin-right: 5%;
    margin-top: 1rem;
    @media #{$small-only} {
      margin-left: 8%;
      margin-right: auto;
    }
  }

  .header {
    display: none;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
  }

  .canned-message-list-container {
    display: flex;
    justify-content: flex-start;
  }

  .message-container {
    flex: 0.5;
  }

  .content-preview {
    cursor: default;
  }

  .language-container {
    display: flex;
    flex: 0.5;
    justify-content: space-evenly;
  }

  .language-container > span {
    cursor: pointer;
  }

  .language-container > span.disabled {
      color: $org-grey;
      cursor: default;
  }

  .canned-content-container {
    max-width: 70%;
  }

  .canned-content {
    white-space: nowrap;
    font-size: clamp(12px, 2vw, 14px);
    width: 20rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #a3aab6;
    @media #{$small-only} {
      width: 10rem;
    }
  }

  .show {
    white-space: initial;
  }
}
