.canned-message-container  {
  display: flex;
  color: white;
  flex-direction: column;
  margin-top: 2rem;

  li {
    margin: clamp(1rem,2vw,4rem);
    list-style: none;
  }

  ul {
    margin-left: 10%;
    margin-right: 5%;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .canned-message-list-container {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
  }

  .message-container {
    flex: 0.5;
  }

  .language-container {
    display: flex;
    flex: 0.5;
    justify-content: space-evenly;
  }

  .canned-content-container {
    max-width: 70%;
  }

  .canned-content {
    white-space: nowrap;
    font-size: clamp(12px, 2vw, 14px);
    width: clamp(5rem, 10rem, 20rem);
    overflow: hidden;
    text-overflow: ellipsis;
    color: #a3aab6;

  }
}

