<?xml version='1.0' encoding='utf-8'?>
<widget id="hk.goodcity.adminstaging" version="0.20.6" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>S. Admin GoodCity</name>
    <description>The GoodCity initiative is a new way to donate quality goods in Hong Kong. See www.goodcity.hk for more details.</description>
    <author href="https://www.crossroads.org.hk">Crossroads</author>
    <icon src="www/assets/images/goodcity-icon-128.png" />
    <content src="index.html" />
    <access launch-external="yes" origin="tel:*" />
    <access origin="*" />
    <preference name="scheme" value="app" />
    <preference name="hostname" value="localhost" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#002352" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <allow-intent href="https://maps.google.com/*" />
    <allow-intent href="https://crossroads-foundation.formstack.com/*" />
    <platform name="android">
        <resource-file src="google-services.json" target="/app/google-services.json" />
        <resource-file src="res/android/notification.png" target="app/src/main/res/drawable/notification.png" />
        <preference name="LoadUrlTimeoutValue" value="120000" />
        <preference name="SplashScreen" value="screen" />
        <preference name="SplashScreenDelay" value="5000" />
        <preference name="Orientation" value="portrait" />
        <icon density="ldpi" src="res/android/drawable-ldpi/icon.png" />
        <icon density="mdpi" src="res/android/drawable-mdpi/icon.png" />
        <icon density="hdpi" src="res/android/drawable-hdpi/icon.png" />
        <icon density="xhdpi" src="res/android/drawable-xhdpi/icon.png" />
        <icon density="xxhdpi" src="res/android/drawable-xxhdpi/icon.png" />
        <icon density="xxxhdpi" src="res/android/drawable-xxxhdpi/icon.png" />
        <splash density="port-ldpi" src="res/android/drawable-ldpi/screen.png" />
        <splash density="port-mdpi" src="res/android/drawable-mdpi/screen.png" />
        <splash density="port-hdpi" src="res/android/drawable-hdpi/screen.png" />
        <splash density="port-xhdpi" src="res/android/drawable-xhdpi/screen.png" />
        <splash density="port-xxhdpi" src="res/android/drawable-xxhdpi/screen.png" />
        <splash density="port-xxxhdpi" src="res/android/drawable-xxxhdpi/screen.png" />
    </platform>
    <platform name="ios">
        <preference name="SwiftVersion" value="5" />
        <preference name="deployment-target" value="11.0" />
        <preference name="Orientation" value="portrait" />
        <preference name="Fullscreen" value="true" />
        <icon height="29" src="res/ios/Icon-29x29~ipad.png" width="29" />
        <icon height="58" src="res/ios/Icon-29x29@2x.png" width="58" />
        <icon height="58" src="res/ios/Icon-29x29@2x~ipad.png" width="58" />
        <icon height="80" src="res/ios/Icon-App-40x40@2x.png" width="80" />
        <icon height="80" src="res/ios/Icon-40x40@2x~ipad.png" width="80" />
        <icon height="120" src="res/ios/Icon-40x40@3x.png" width="120" />
        <icon height="40" src="res/ios/Icon-40x40~ipad.png" width="40" />
        <icon height="100" src="res/ios/Icon-50x50@2x~ipad.png" width="100" />
        <icon height="167" src="res/ios/Icon-83.5x83.5@2x~ipad.png" width="167" />
        <icon height="50" src="res/ios/Icon-50x50~ipad.png" width="50" />
        <icon height="57" src="res/ios/Icon-57x57.png" width="57" />
        <icon height="114" src="res/ios/Icon-57x57@2x.png" width="114" />
        <icon height="120" src="res/ios/Icon-60x60@2x.png" width="120" />
        <icon height="180" src="res/ios/Icon-60x60@3x.png" width="180" />
        <icon height="144" src="res/ios/Icon-72x72@2x~ipad.png" width="144" />
        <icon height="72" src="res/ios/Icon-72x72~ipad.png" width="72" />
        <icon height="152" src="res/ios/Icon-76x76@2x~ipad.png" width="152" />
        <icon height="76" src="res/ios/Icon-76x76~ipad.png" width="76" />
        <icon height="1024" src="res/ios/Icon-App-1024.png" width="1024" />
        <icon height="29" src="res/ios/icon29x29.png" width="29" />
        <splash height="480" src="res/ios/Default~iphone.png" width="320" />
        <splash height="960" src="res/ios/Default@2x~iphone.png" width="640" />
        <splash height="1136" src="res/ios/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="res/ios/Default-667h.png" width="750" />
        <splash height="2208" src="res/ios/Default-736h.png" width="1242" />
        <splash height="1024" src="res/ios/Default-1024h.png" width="768" />
        <splash height="2048" src="res/ios/Default-2048h.png" width="1536" />
        <splash height="768" src="res/ios/Default-768h.png" width="1024" />
        <splash height="1536" src="res/ios/Default-1536h.png" width="2048" />
        <splash height="1242" src="res/ios/Default-1242h.png" width="2208" />
        <edit-config file="*-Info.plist" mode="add" target="ITSAppUsesNonExemptEncryption">
            <false/>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
            <string>To enable you to read inventory barcodes and photograph inventory items.</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryUsageDescription">
            <string>To enable you to select photographs of inventory items.</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
            <string>Need location access to mark inventory images.</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryAddUsageDescription">
            <string>Needs photo library access to save photos</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSMicrophoneUsageDescription">
            <string>Needs permission to use the microphone to make and receive in-app phone calls</string>
        </edit-config>
    </platform>
</widget>
