.review_offer .sharing-center {
  @mixin overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #002352;
    z-index: 1000;

    .overlay-content {
      margin: 0 auto;
      width: 100%;
      max-width: 768px;
      height: 100%;
      overflow-y: auto;
    }
  }

  .notes-edition {
    &.padded {
      padding: 1rem;
    }

    &.large textarea {
      min-height: 5rem;
    }

    .notes-subtitle {
      margin-bottom: 0.5rem;
      font-style: italic;
    }

    .notes-lang-selection {
      margin-bottom: 0.2rem;

      .lang {
        color: gray;
        &.selected {
          color: white;
        }
        &.unselected {
          text-decoration: underline;
        }
      }
    }
    .notes-text {
      textarea {
        font-size: 0.8rem;
        height: 2em;
        background-color: transparent;
        color: white;
        border: 1px solid gray;
      }
    }
  }

  .button-container {
    padding: 0.5rem;
    padding-bottom: 0;

    .charities-link {
      line-height: 2rem;
      text-decoration: underline;
    }

    .expiry-details {
      color: white;
    }
  }

  .explanation-text {
    text-align: center;
    padding: 0.5rem 4rem;
  }

  .editor {
    @include overlay();

    .editor-content {

      .header {
        padding: 1rem;
        border-bottom: 1px solid gray;

        .offer-title {
          @include bold();
          color: white;
          text-transform: capitalize;
          text-align: center;
        }
      }

      .sharing-mode-selection {
        padding: 0.8rem;

        .sharing-info {
          font-style: italic;
          margin-bottom: 1rem;
        }

        .row {
          color: white;
          line-height: 2;
          height: 100%;
        }

        .show-listing-checkbox {
          visibility: visible;
          position: relative !important;
          width: 1rem;
          height: 1rem;
          background: white;
          left: 0 !important;
        }
      }

      .package-sharing {
        .package-header {
          padding-left: 1rem;
          padding-right: 1rem;
          padding-bottom: 1rem;
          border-bottom: 1px solid gray;

          .bold {
            @include bold();
            color: white;
          }

          .underlined {
            text-decoration: underline;
          }
        }

        .package-list {
          .package {
            padding: 1rem;
            border-bottom: 1px solid gray;
            padding-bottom: 0;

            .package-share-checkbox {
              visibility: visible;
              position: relative;
              width: 1rem;
              height: 1rem;
              background: white;
              left: 0;
            }

            .package-image {
              position: relative;
              width: 5rem;
              height: 5rem;
              overflow: hidden;
              // margin: 1rem auto 0 auto;

              @include screen-lte(300px) {
                width: 4rem;
                height: 4rem;
              }
              @include screen-lte(260px) {
                width: 3rem;
                height: 3rem;
              }

              background-size: cover;
              border: 1px solid gray;

              .package-state {
                @include ellipsis();
                @include auto-state-color-set("background-color");
                background-color: black; // default
                position: absolute;
                color: white;
                height: 1rem;
                bottom: 0;
                text-align: center;
                width: 100%;
                font-size: 0.7rem;
              }
            }

            .package-name {
              margin-bottom: 0;
              height: 1rem;

              .columns {
                padding-left: 0;
              }
            }
          }
        }
      }

      .button-row {
        .columns {
          text-align: center;
          padding: 1rem;
          height: 5rem;

          button {
            &.light {
              background-color: transparent;
              border-color: white;
            }

            &.disabled {
              pointer-events: none;
              opacity: 0.7;
            }
          }
        }
      }
    }

    .button-row button {
      font-size: 0.8rem;
      width: 100%;
    }
  }

  .sharing-warning {
    background: #f34d4f;
    padding: 0.2rem;
    margin: 1rem;
    margin-bottom: 0;
    color: white;
  }

  .delete-sharing-link {
    text-align: center;
    height: 5rem;
    text-decoration: underline;
    color: white;
  }

  .threads {
    border-top: 1px solid gray;

    .org-status-icon {
      color: $white;
    }

    .thread {
      width: 100%;
      margin: 0 auto;
      border-bottom: 1px solid gray;

      .message-preview {
        @include ellipsis();
        margin-top: 0.5rem;
        color: white;
      }

      .arrow {
        color: white;
        opacity: 0.6;
        padding-top: 1rem;
      }
    }
  }

  .charity-chat {
    @include overlay();
    $header-height: 7vh;

    .header {
      padding: 1rem;
      border-bottom: 1px solid gray;
      height: $header-height;

      .offer-title {
        @include bold();
        color: white;
        text-transform: capitalize;
        text-align: center;
      }
    }

    .message-section {
      padding-top: 2vh;
      height: 85vh;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .message-base {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100vw;
    }
  }

  .error textarea {
    border-color: $coral-red !important;
    background: $light-pitch !important;
    margin-bottom: 1rem;
  }
}

.date-time-component {
  padding: 0;

  .date-calendar-input {
    padding: 0;
    width: 45%;
    display: inline-block;

    input {
      height: 2.3rem !important;

      @media #{$small-only} {
        height: 1.95rem !important;
      }
    }
  }

  .time-clock-input {
    padding: 0;
    width: 53%;
    display: inline-block;
  }
}
