.offer_detail {
  text-align: center;
  font-size: 1.5vw;
  color:#DFE0E7;

  .offer_counts {
    display: inline-block;
  }

  .offer_title {
    padding-top: 5px;
    font-weight: 600;
  }

  i {
    margin-top:25px;
    margin-left: 5px;
    font-size: 1.1rem;
    color: #FFFFFF;
  }

  span {
    font-size: 1.2rem;
    color: #FFFFFF;
  }

  .inactive_offers_divider {
    border-bottom: 1px solid #8091A9;
    padding-bottom: 2rem;
  }

  @media #{$small-only} {
    font-size: 3vw;
  }

  @media screen and (max-width: 350px) {
    .offer_count span, i {
      font-size: 5vw;
    }
  }

  @media #{$large-only} {
    .offer_icon {
      margin-top: -5%;
    }
  }
}

.priority_details {
  height: 3rem;
  padding: 5%;

  i {
    margin-top:10px !important;
    color: #FFFFFF;
  }
}

.counts {
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 1rem;
  margin-top: 1.5rem;

  .offer_header {
    margin-bottom: 1rem!important;
    padding-top: 0;
    border: 2px solid #27436C;
    height: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    img {
      height: -webkit-fill-available;

      @media #{$small-only} {
        margin-left: -5%;
        width: 80%;
      }
      @media #{$large-only} {
        margin-left: -2%;
        width: 50%;
      }
      @media #{$medium-only} {
        margin-left: -2%;
        width: 50%;
      }
    }

    .offer_code, .offer_user_name {
      color: #FFFFFF;
      text-align: center;
      font-weight: 800;
      font-size: 120%;
    }
  }

  .view_all {
    >div {
      display: inline-block;
      color: #FFFFFF;
      text-decoration: underline;
    }
  }
}
.reviewing { background-color:#ED4C4E; }
.scheduled { background-color:#6FAB4A; }
.receiving { background-color:#438BCA; }
.reviewed { background-color:#7EB253; }

.hr-divider {
  color: #fff;
  margin-top: 35% !important;
  border: none;
  height: 1px;
  background-color: #fff;
}
