.stockitAddItemModal {
  color: black;

  .form__control--error .input-error-msg {
    display: block;
  }

  .invenory-number {
    margin-top: 6%;
    display: flex;
    color: white;
    justify-content: center;

    @media #{$small-only} {
      margin-top: 10%;
    }
  }

  .input-error-msg {
    background: #f46769;
    color: white;
    padding: 0.2rem;
    display: none;
    margin-top: -5%;

    @media #{$small-only} {
      font-size: 0.65rem;
    }
  }

  .main-section {
    @media #{$large-only} {
      padding: 0 15rem;
    }
  }

  .new-item-attrs {
    padding-right: 0.8rem;
  }

  .item-label {
    color: #8091a9;
    text-align: left;
    margin-top: 0.4rem;
    padding-left: 1rem;
  }

  select {
    background: #002352 !important;
    border: 1px solid #8091a9;
    color: #fff;
  }

  .select2-container a {
    background: #002352 !important;
    border: 1px solid #8091a9;
    color: white !important;
    margin-bottom: 2%;
    margin-top: 3%;

    span {
      color: white;
    }
  }

  .select2-drop {
    background: #002352 !important;
  }

  input {
    padding: 0 .5rem;
    background: #002352 !important;
    border: 1px solid #8091a9;
    color: #fff;
    height: 1.8rem;
    margin-top: 2%;
    margin-bottom: 5%;
  }

  .description-block .input-error-msg {
    @media #{$small-only} {
      margin-top: -7% !important;
    }
    margin-top: -5% !important;
    margin-bottom: 2%;
  }

  .location-block .input-error-msg {
    margin-top: -3% !important;
    margin-bottom: 2%;
  }

  textarea {
    background: #002352 !important;
    border: 1px solid #8091a9;
    color: #fff;
    margin-left: 0% !important;
    max-width: 100%;
  }

  [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    left: 8%;
    visibility: visible;
    height: 1.8rem;
    width: 17px;
  }

  .image-box {
    margin-top: 0.3rem;
    padding-top: 0.25rem;
    background-color: #334f75;
    text-align: center;
    position: absolute;
    height: 5.5rem;
    right: 4% !important;
    font-size: .8rem;
    color: white;
    padding: 0.2rem;

    @media #{$small-only} {
      height: 4.5rem !important;
    }

    img {
      height: 100%;
    }
  }

  .receive-buttons {
    margin: 1rem 0 0 1rem;
  }

  .box-white {
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;

    input {
      padding-left: .5rem;
      padding-right: .5rem;
    }

    @media #{$small-only} {
      font-size: 0.8rem;
    }

    .row{
      margin:0;
    }
    .single-row {

      margin: 0 !important;
      padding: 0.5rem 0.7rem;
      max-width: 100%;

      @media #{$small-only} {
        padding: 0.3rem 0.5rem;
      }
    }
  }

  .inventory-number {
    margin-bottom: 1rem;
  }

  .secondary {
    background-color: inherit;
  }

  .inputs-row {

    .columns {
      padding: 0;
    }

    // textarea {
    //   -moz-box-sizing: border-box;
    //   box-sizing: border-box;
    //   resize: none;
    // }

    // .has-error textarea {
    //   margin-bottom: 0;
    // }
  }

  .select2-arrow {
    display: none !important;
  }

  .columns > .fa {
    float: right;
  }

  .has-error {
    .fa.fa-exclamation-triangle {
      color: $coral-red;
      display: inline-block !important;
      margin-top: -1.6rem;
      margin-right: 0.5rem;

      @media #{$small-only} {
        margin-top: -1.2rem;
      }
    }
  }

  .form-errors {
    color: $coral-red;
    display: block;

    @media #{$small-only} {
      font-size: 0.9rem;
    }

    .fa.fa-exclamation-triangle {
      display: inline-block !important;
    }
  }

  .no-error {
    display: none;
  }

  .show-error {
    display: block;
  }

  .fa.fa-exclamation-triangle {
    display: none;
  }

  .inventory-number .columns > .fa {
    color: white;
    font-size: 1.5rem;
    padding: 0.2rem 1rem;

    &.fa-map-marker {
      padding: 0;
      position: relative;
      margin-top: -1.8rem;
      z-index: 99;
      font-size: 1.3rem;
      color: gray;
      margin-right: 0.8rem;

      &.small-marker {
        margin-right: 0.5rem;
        margin-top: -1.65rem;

        @media #{$small-only} {
          margin-top: -1.55rem;
        }
      }
    }
  }
}

[data-ember-action] {
  cursor: pointer;
}
