<div class="row">
  <div class="small-12 columns summary offer_detail">
    {{partial 'dashboard/_active_orders'}}
    <br>
    {{partial 'dashboard/_priority_active_orders'}}
    {{partial 'dashboard/_inactive_orders'}}
  </div>
</div>

