<div class="row">
  <div class="small-12 columns summary offer_detail">
    {{partial 'dashboard/_active_offers'}}
    <br>
    {{partial 'dashboard/_priority_active_offers'}}
    {{partial 'dashboard/_inactive_offers'}}
  </div>
</div>

