.new-donor{
  input[type="checkbox"]{
    margin-top: 5px;
    position: absolute;
    left: unset !important;
    visibility: unset !important;
  }
  .consent_text{
    margin-top: 50px;
    margin-left: 1.5em;
    font-size: 0.7em;
  }
  select {
    background-color: unset;
    color: white;
    padding-top: 5px;
    font-size: 0.9em;
    padding-bottom: 6px;
    border: 1px #a3aab6 solid;
  }
  .button{
    margin-top: 2%;
  }
}
