.new-company, .new-user {
  text-align: center;
  font-weight: 600;
  border-bottom: 0.1px solid;
  padding-bottom: 3%;
  padding-top: 3%;
  cursor: pointer;

  a {
    text-decoration: underline;
  }
}

.search li.company-list {
  padding: .8rem 1rem;
}


